<div *nzModalTitle>
  @let name = store.orderList().name;
  <div class="flex gap-2">
    <div>
      @if (name && !isWizard()) {
        Comanda: {{ name }}
      } @else {
        Comandă nouă
      }
    </div>
    @if (!isWizard()) {
      <nz-tag nzColor="default">
        <nz-icon [nzType]="'icons:' + statusIcon()"></nz-icon>
        {{ statusLabel() }}
      </nz-tag>
    }
  </div>
</div>

@if (isWizard()) {
  <ske-order-list-wizard-container [classId]="modalData().classId" />
}

<div [hidden]="!onEditorStep()">
  <ske-error-display [problemDetail]="store.orderListProblemDetail()"
                     [validationErrors]="store.orderListValidationErrors()" />

  <ske-order-list-detail-form [loading]="busy()"
                              [orderList]="store.orderList()" />
</div>

<div *nzModalFooter>
  <nz-space nzWrap class="justify-end">

    @if (canExport()) {
      <button nz-button
              *nzSpaceItem
              nzType="default"
              type="button"
              (click)="download()"
              [nzLoading]="downloading()"
              [disabled]="downloading()">
        <nz-icon nzType="icons:file-arrow-down"></nz-icon>
        Descarcă Excel
      </button>
    }
    <button nz-button
            *nzSpaceItem
            nzType="default"
            type="button"
            (click)="close()"
            [nzLoading]="busy()"
            [disabled]="busy()">
      Închide
    </button>

    @if (isWizard() && wizard.step() !== 'source') {
      <button nz-button
              *nzSpaceItem
              nzType="default"
              type="button"
              [disabled]="busy()"
              (click)="back()">
        <nz-icon nzType="icons:arrow-left"></nz-icon>
        Înapoi
      </button>
    }

    @if (isWizard() && !onEditorStep()) {
      <button nz-button
              *nzSpaceItem
              nzType="primary"
              type="button"
              [disabled]="!wizard.canGoNext()"
              (click)="next()">
        Continuă
        <nz-icon nzType="icons:arrow-right"></nz-icon>
      </button>
    }

    @if (editable() && onEditorStep()) {
      <nz-space-compact *nzSpaceItem>
        <button nz-button
                nzType="primary"
                type="button"
                (click)="save()"
                [nzLoading]="busy()"
                [disabled]="busy()">
          Salvează și închide
        </button>
        <button nz-button
                nzType="primary"
                type="button"
                nz-dropdown
                [nzDropdownMenu]="menu"
                [nzLoading]="busy()"
                [disabled]="busy()"
                aria-label="Opțiuni de salvare">
          <nz-icon nzType="icons:chevron-down"></nz-icon>
        </button>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item
                [nzDisabled]="busy()"
                (click)="save(false)">
              Salvează
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-space-compact>
    }
  </nz-space>
</div>
