/* You can add global styles to this file, and also import other style files */




.ant-table-tbody > tr > td {
  height: 49px;
  //padding-top: 0 !important;
  //padding-bottom: 0 !important;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-dropdown-menu-item {
  &.chip-filter {
    &:hover {
      background-color: inherit;
    }
  }
}

.page-footer{
  @apply flex! flex-row justify-end;
}
