/* You can add global styles to this file, and also import other style files */

:root {
  --font-sans: 'Inter Variable', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  font-family: var(--font-sans) !important;
  font-feature-settings: 'cv11', 'ss01' !important; /* optional Inter stylistic tweaks */
}


.ant-table-tbody > tr > td {
  height: 49px;
  padding: 0 !important;
  //padding-top: 0 !important;
  //padding-bottom: 0 !important;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:first-child{
    padding-left: 8px !important;
  }
}

.ant-dropdown-menu-item {
  &.chip-filter {
    &:hover {
      background-color: inherit;
    }
  }
}

.page-footer{
  @apply flex! flex-row justify-end;
}

.ant-menu-title-content{
  display: flex;
  align-items: center;
}



.stock-form-compact {
  ske-location-dropdown {
    nz-select-top-control {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  ske-category-dropdown {
    nz-select-top-control {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-left-width: 0 !important;
    }
  }
}
