@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
  --breakpoint-xxxl: 1920px;
}

@custom-variant dark (&:where(.dark, .dark *));

html, body, ske-root {
  @apply block h-screen w-screen;
}

ske-simple, ske-full {
  @apply flex h-screen w-screen;
}

nz-result {
  @apply flex! flex-col! items-center! justify-center! gap-4!;
}
