<nz-header class="pr-4! pl-3!">
  <div class="flex h-full items-center">
    <ng-container *skeLayoutBreakpoint="'xl';else:menuToggleTemplate"></ng-container>
    <ng-template #menuToggleTemplate>
      <button nz-button nzSize="small"
              type="button"
              nzType="text"
              (click)="drawerToggle.emit()">
        <nz-icon nzType="icons:bars"></nz-icon>
      </button>
    </ng-template>
    <div class="grow"></div>
    <div>
      <ske-theme-switcher />
    </div>
  </div>
</nz-header>
