@margin-md: 17px;
@border-radius-base: 8px;
@border-radius-sm: 8px;
@border-radius-lg: 8px;


nz-tabs {
  flex: 1 1 auto;

  &.inner-scroll {
    .ant-tabs-content-holder {
      display: flex;
      //
      //      .ant-tabs-content{
      //
      //      }
      //    }
      ////    .ant-tabs-content {
      ////
      ////      .ant-tabs-tabpane {
      ////        display: flex;
      ////        flex-direction: column !important;
      ////        flex-grow: 1;
      ////
      ////        > * {
      ////          flex-grow: 1;
      ////          overflow-y: auto;
      ////          overflow-x: hidden;
      ////          height: 0;
      ////        }
      ////      }
    }
  }
}

//tr.ant-table-expanded-row {
//  &.inner-table {
//    .ant-table-expanded-row-fixed {
//      position: relative !important;
//      height: 400px;
//      margin: 8px;
//    }
//  }
//}

