@margin-md: 17px;
@border-radius-base: 8px;
@border-radius-sm: 8px;
@border-radius-lg: 8px;


nz-tabs {
  flex: 1 1 auto;

  &.inner-scroll {
    .ant-tabs-content-holder {
      display: flex;
    }
  }
}

.menuDrawer {
  .ant-drawer-content {
    background-color: @layout-sider-background;
  }
}
