@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/compact';
@import './base';
@layout-sider-background: @white;
@layout-trigger-background: @white;
@layout-header-background: @white;

@primary-color: @tw-indigo-600;
@link-color: @tw-indigo-600;
@body-background: @tw-slate-50;
@layout-body-background: @tw-slate-50;
@component-background: @tw-white;
@text-color: @tw-slate-700;
@text-color-secondary: @tw-slate-500;
@heading-color: @tw-slate-900;
@border-color-base: @tw-slate-200;
@border-color-split: @tw-slate-200;
@ske-group-row-bg: @layout-body-background;
@processing-color: @tw-indigo-600;

@background-color-light: @tw-slate-50;
@background-color-base: @tw-slate-100;
@item-hover-bg: @tw-slate-100;
@table-row-hover-bg: @tw-slate-50;
@tooltip-bg: @tw-slate-800;
@segmented-bg: @tw-slate-100;
@popover-customize-border-color: @tw-slate-200;
