@let lineFormSignal = lineForm();
@let isMatched = !!lineFormSignal.item().value()?.id;
<td>
  {{ lineForm().sku().value() ?? '-' }}
</td>
<td>
  <div class="flex items-center gap-2 w-full">
    <nz-icon [nzType]="isMatched ? 'icons:circle-check' : 'icons:circle-exclamation'"
             [class.text-green-500!]="isMatched"
             [class.text-amber-500!]="!isMatched"></nz-icon>
    <div class="grow">
      <nz-form-item class="mb-0!">
        <nz-form-control [nzErrorTip]="errorTemplate">
          <ske-item-dropdown [formField]="lineForm().item"
                             [allowEdit]="false"
                             [allowCreate]="!isMatched"
                             [placeholder]="itemPlaceholder"
                             [createPrefill]="itemPrefill()"
                             [createButtonTemplate]="createTemplate" />
          <ng-template #createTemplate>Creaza</ng-template>
        </nz-form-control>
      </nz-form-item>
      @if (!isMatched) {
        <div nz-typography
             nzType="secondary"
             class="mb-0!">
          Citit din document: {{ lineForm().name().value() ?? '-' }}
        </div>
      }
    </div>
  </div>
</td>
<td>
  @let selectedItem = lineFormSignal().value().item;
  @let matchedCategory = lineFormSignal().value().category;
  @if (matchedCategory?.name && !selectedItem?.categoryName) {
    <span nz-typography
          nzType="secondary">
      <span>Sugerat: </span>
      <span>{{ matchedCategory?.name }}</span>
    </span>
  } @else {
    <span [class.text-gray-500]="!selectedItem?.categoryName">
    {{ selectedItem?.categoryName ?? categoryPlaceholder }}
  </span>
  }
</td>
<td>
  {{ lineForm().unit().value() ?? '-' }}
</td>


<ng-template #errorTemplate
             let-control>
  @let formControl = control.control;
  @if (formControl.errors?.required; as requiredError) {
    {{ requiredError.message }}
  }
  @if (formControl.errors?.min; as minError) {
    {{ minError.message }}
  }
  @if (formControl.errors?.totalSum; as totalSumError) {
    {{ totalSumError.message }}
  }
</ng-template>
