@let lineFormSignal = lineForm();

<td>
  <div class="flex items-center gap-2 w-full">
    @let isCategorySelected = !!lineForm().category().value()?.id;
    @if (isCategorySelected) {
      <nz-icon nzType="icons:circle-check"
               class="text-green-500!"></nz-icon>
    } @else {
      <nz-icon nzType="icons:circle-exclamation"
               class="text-amber-500!"></nz-icon>
    }
    <div class="grow">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTemplate">
          <ske-category-dropdown [formField]="lineForm().category"
                                 [allowEdit]="false"
                                 [allowCreate]="!lineForm().category().value()?.id"
                                 [placeholder]="categoryPlaceholder"
                                 [createPrefill]="categoryPrefill()"
                                 [createButtonTemplate]="createTemplate" />
          <ng-template #createTemplate>Creaza</ng-template>
        </nz-form-control>
      </nz-form-item>
      @if (!lineForm().category().value()?.id) {
        <div nz-typography
             nzType="secondary"
             class="mb-0!">
          Citit din document: {{ lineFormSignal().value().name }}
        </div>
      }
    </div>
  </div>
</td>

<ng-template #errorTemplate
             let-control>
  @let formControl = control.control;
  @if (formControl.errors?.required; as requiredError) {
    {{ requiredError.message }}
  }
</ng-template>
