@if (alertMessage(); as message) {
  <nz-alert [nzShowIcon]="true"
            [nzType]="message.type"
            [nzMessage]="message.text"></nz-alert>
}
<nz-table nzSize="small"
          nzTableLayout="fixed"
          [nzTemplateMode]="true"
          [nzFrontPagination]="false"
          [nzShowPagination]="false">
  <thead>
  <tr>
    <th nzWidth="280px">Categorie</th>
  </tr>
  </thead>
  <tbody>
    @for (line of linesForm.lines; track $index) {
      <tr ske-category-import-review-line-row
          [lineForm]="line">
      </tr>
    }
  </tbody>
</nz-table>
