@let compact = isCompact();
@let action = actions[selectedTabIndex()];

<nz-page-header [nzGhost]="false">
  <nz-breadcrumb nz-page-header-breadcrumb
                 class="hidden! lg:block!"
                 nzSeparator=">">
    <nz-breadcrumb-item>Acasa</nz-breadcrumb-item>
    <nz-breadcrumb-item>Articole</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>
    <span class="flex items-center gap-1">
      <ske-menu-toggle class="-ms-2" />
      <span>Articole</span>
    </span>
  </nz-page-header-title>
  <nz-page-header-extra>
    @if (action) {
      @if (compact) {
        <button nz-button
                nzType="primary"
                nzShape="circle"
                type="button"
                nz-tooltip
                [nzTooltipTitle]="action.label"
                [attr.aria-label]="action.label"
                (click)="action.run()">
          <nz-icon [nzType]="action.icon"></nz-icon>
        </button>
      } @else {
        <button nz-button
                nzType="primary"
                type="button"
                [attr.aria-label]="action.label"
                (click)="action.run()">
          <nz-icon [nzType]="action.icon"></nz-icon>
          {{ action.text }}
        </button>
      }
    }
  </nz-page-header-extra>
  <nz-page-header-footer>
    <ske-header-tabs [options]="tabs"
                     [compact]="compact"
                     [(selectedIndex)]="selectedTabIndex" />
  </nz-page-header-footer>
</nz-page-header>

<ske-theme-switcher class="absolute top-1.5 right-4 hidden lg:block" />
