<div *nzModalTitle>Importă categorii</div>

<p nz-typography
   nzType="secondary">
  Încarcă un document sau mai multe cu produsele care vor fi analizate automat.
</p>

<ske-file-upload [multiple]="true"
                 (onFileListChange)="onFileListChange($event)" />

@if (fileStorage.uploadLoading() || fileStorage.hasUploadFailures()) {
  <nz-progress [nzPercent]="fileStorage.uploadPercent()"
               [nzStatus]="progressStatus()"
               [nzFormat]="progressFormat()" />

  @if (fileStorage.currentFileName(); as currentFileName) {
    <p nz-typography
       nzType="secondary">Se încarcă {{ currentFileName }}</p>
  }

  @if (fileStorage.hasUploadFailures()) {
    <p nz-typography
       nzType="danger">Fisiere ce nu au putut fi incarcate:</p>
    <ul>
      @for (failedFile of fileStorage.failedFiles(); track failedFile.name) {
        <li nz-typography
            nzType="danger">
          {{ failedFile.name }}
        </li>
      }
    </ul>
  }
}

<ske-error-alert [problemDetail]="store.categoryImportProblemDetail()"
                 [validationErrors]="store.categoryImportValidationErrors()" />

<div *nzModalFooter>
  <nz-space>
    <button nz-button nzSize="small"
            *nzSpaceItem
            nzType="default"
            type="button"
            [disabled]="fileStorage.uploadLoading() || store.categoryImportLoading()"
            (click)="close()">
      Închide
    </button>
    <button nz-button nzSize="small"
            *nzSpaceItem
            nzType="primary"
            type="button"
            [disabled]="!hasFiles()"
            [nzLoading]="fileStorage.uploadLoading() || store.categoryImportLoading()"
            (click)="loadFiles()">
      Încarcă și procesează
    </button>
  </nz-space>
</div>
