<ske-item-header [(selectedTabIndex)]="selectedTabIndex"
                 (onAdd)="onAdd()"
                 (onImport)="onImport()" />

<nz-tabs [nzSelectedIndex]="selectedTabIndex()"
         [nzTabBarStyle]="{ display: 'none' }"
         class="inner-scroll grow m-4!">
  <nz-tab>
    <ske-item-list-tab [items]="listStore.items()"
                       [filter]="listStore.filter()"
                       [problemDetail]="listStore.itemsProblemDetail()"
                       [validationErrors]="listStore.itemsValidationErrors()"
                       [loading]="listStore.itemsLoading()"
                       [hasNextPage]="listStore.hasNextPage()"
                       [isLoadingMore]="listStore.isLoadingMore()"
                       [togglingItemId]="listStore.togglingItemId()"
                       (onFilterChange)="onFilterChange($event)"
                       (onLoadMore)="onLoadMore()"
                       (onEdit)="onEdit($event)"
                       (onToggleActive)="onToggleActive($event)" />
  </nz-tab>
  <nz-tab>
    <ske-item-import-list-tab (review)="onReview($event)" />
  </nz-tab>
</nz-tabs>
