@let dimensions = tableDimensions();

<nz-table
  #table
  nzTableLayout="fixed"
  [nzData]="itemsVirtualData()"
  [nzVirtualItemSize]="virtualItemSize()"
  [nzVirtualMinBufferPx]="virtualMinBufferPx()"
  [nzVirtualMaxBufferPx]="virtualMaxBufferPx()"
  [nzVirtualForTrackBy]="(index, item) => item.id ?? item.index"
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  [nzLoading]="loading()"
  nzSize="small"
  [nzScroll]="{ x: dimensions.width, y: dimensions.height }"
>
  <thead>
  <tr>
    <th nzWidth="150px">
      {{ columns.sku.label }}
    </th>
    <th >
      {{ columns.name.label }}
    </th>
    <th nzWidth="200px">
      {{ columns.categoryName.label }}
    </th>
    <th nzWidth="100px">
      {{ columns.unit.label }}
    </th>
    <th nzWidth="100px">
      {{ columns.minThreshold.label }}
    </th>
    <th nzWidth="100px">
      {{ columns.isPerishable.label }}
    </th>
    <th nzWidth="130px">
      {{ columns.shelfLifeDays.label }}
    </th>
<!--    <th nzWidth="100px">-->
<!--      {{ columns.isActive.label }}-->
<!--    </th>-->
    <th nzWidth="150px">
      {{ columns.lastModifiedDate.label }}
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-template nz-virtual-scroll
               let-item>
    <tr (click)="onEdit.emit(item)"
        class="cursor-pointer">
      <td>
        {{ item.sku }}
      </td>
      <td>
        {{ item.name }}
      </td>
      <td>
        {{ item.categoryName }}
      </td>
      <td>
        {{ item.unit }}
      </td>
      <td>
        {{ item.minThreshold }}
      </td>
      <td>
        @if (item.isPerishable) {
          <nz-tag nzColor="orange">Da</nz-tag>
        } @else {
          <nz-tag nzColor="green">Nu</nz-tag>
        }
      </td>
      <td>
        {{ item.shelfLifeDays ?? '-' }}
      </td>
<!--      <td>-->
<!--        @if (item.isActive) {-->
<!--          <nz-tag nzColor="green">Activ</nz-tag>-->
<!--        } @else {-->
<!--          <nz-tag nzColor="red">Inactiv</nz-tag>-->
<!--        }-->
<!--      </td>-->
      <td>
        {{ item.lastModifiedDate | date }}
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
