<td>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTemplate"
                     nzSpan="24">
      <ske-item-dropdown [formField]="lineForm().item"
                         [allowClear]="true"
                         [allowEdit]="false"
                         [allowCreate]="!line().item?.id"
                         [placeholder]="itemPlaceholder"
                         [createPrefill]="createPrefill(line())"
                         [createButtonTemplate]="createItemTemplate" />
      <ng-template #createItemTemplate>Creaza</ng-template>
    </nz-form-control>
  </nz-form-item>
  @if (!line().item?.id) {
    <div nz-typography
         nzType="secondary"
         class="mb-0! mt-1">
      Din aviz: {{ line().rawItemText ?? line().extractedName }}
    </div>
  }
</td>

<td>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTemplate">
      <ske-location-dropdown [formField]="lineForm().location"
                             [prePopulateWithDefault]="true" />
    </nz-form-control>
  </nz-form-item>
</td>
<td>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTemplate"
                     [nzValidateStatus]="quantityValidateStatus()"
                     nzWarningTip="Cantitatea introduse este mai mare decat cantitatea originala"
                     nzHasFeedback>
      <nz-input-number [formField]="lineForm().quantity"
                       class="w-full!" [nzControls]="false">
        <div nzInputAddonBefore>
          <nz-icon nzType="icons:circle-info"
                   nz-tooltip
                   nzTooltipTrigger="hover"
                   [nzTooltipTitle]="'Cantitatea originala: ' + (line()?.originalQuantity ?? 0)"></nz-icon>
        </div>
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>
</td>
<td>
  @if (line().item?.isPerishable) {
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorTemplate">
        <nz-date-picker [formField]="lineForm().expiryDate"
                        nzFormat="dd.MM.yyyy"
                        class="w-full!" />
      </nz-form-control>
    </nz-form-item>
  }
</td>
<td>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorTemplate">
      <nz-input-number [formField]="lineForm().unitPrice"
                       [nzFormatter]="unitPriceFormatter"
                       [nzParser]="unitPriceParser"
                       [nzMin]="0"
                       class="w-full!">
        <span nzInputAddonAfter>RON</span>
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>
</td>
<td>
  <button nz-button
          nzType="text"
          type="button"
          nz-tooltip
          [nzTooltipTitle]="'Imparte randul'"
          (click)="splitLine.emit(line())">
    <nz-icon nzType="icons:split" />
  </button>
  @if (canRemove()) {
    <button nz-button
            nzType="text"
            type="button"
            nz-tooltip
            [nzTooltipTitle]="'Sterge randul'"
            (click)="removeLine.emit(line())">
      <nz-icon nzType="icons:trash" />
    </button>
  }
</td>


<ng-template #errorTemplate
             let-control>
  @let formControl = control.control;
  @if (formControl.errors?.required; as requiredError) {
    {{ requiredError.message }}
  }
  @if (formControl.errors?.min; as minError) {
    {{ minError.message }}
  }
  @if (formControl.errors?.totalSum; as totalSumError) {
    {{ totalSumError.message }}
  }
</ng-template>
