<ske-category-header [(selectedTabIndex)]="selectedTabIndex"
                     (onAdd)="onAdd()"
                     (onImport)="onImport()" />

<nz-tabs [nzSelectedIndex]="selectedTabIndex()"
         [nzTabBarStyle]="{ display: 'none' }"
         class="inner-scroll grow m-4!">
  <nz-tab>
    <ske-category-list-tab [categories]="store.categories()"
                           [filter]="store.filter()"
                           [problemDetail]="store.categoriesProblemDetail()"
                           [validationErrors]="store.categoriesValidationErrors()"
                           [loading]="store.categoriesLoading()"
                           [hasNextPage]="store.hasNextPage()"
                           [isLoadingMore]="store.isLoadingMore()"
                           [deletingCategoryId]="store.deletingCategoryId()"
                           (onFilterChange)="onFilterChange($event)"
                           (onLoadMore)="onLoadMore()"
                           (onEdit)="onEdit($event)"
                           (onDelete)="onDelete($event)" />
  </nz-tab>
  <nz-tab>
    <ske-category-import-list-tab />
  </nz-tab>
</nz-tabs>
