@let stockItem = item();

<td nzRight>
  <div class="flex flex-col">
    <strong>{{ stockItem.itemName }}</strong>
    <div>
      <span nz-typography
            nzType="secondary"
            class="mb-0!">{{ stockItem.sku ?? '-' }}</span>
      <span> - </span>
      <strong nz-typography
              nzType="secondary">
        <nz-icon nzType="icons:clock"></nz-icon>
        {{ stockItem.lastUpdatedAt ? (stockItem.lastUpdatedAt | timeAgo) : '-' }}
      </strong>
    </div>
  </div>
</td>
<td class="text-right!">
  <h5 nz-typography
      class="mb-0!">{{ stockItem.quantity }} {{ stockItem.unit }}</h5>
  @if (stockItem.isLowStock) {
    <span nz-typography
          nzType="warning">stoc redus</span>
  }
</td>
<td>
  <span>{{ stockItem.locationName }}</span>
</td>
<td>
  <div class="flex flex-wrap gap-1">
    @if (stockItem.isPerishable) {
      <nz-tag nzColor="orange">Perisabil</nz-tag>
      @if (stockItem.isExpired) {
        <nz-tag nzColor="red">Posibil expirat ({{ stockItem.expiredQuantity }})</nz-tag>
      }
    } @else {
      <nz-tag>Nu</nz-tag>
    }
  </div>
</td>
<td class="whitespace-nowrap">
  <button nz-button
          nzType="text"
          type="button"
          nz-tooltip
          skeStopClick
          [nzTooltipTitle]="stockItem.quantity > 0
              ? 'Mută stocul pentru ' + stockItem.itemName
              : 'Mutarea nu este disponibilă pentru stoc 0 sau negativ'"
          [attr.aria-label]="stockItem.quantity > 0
              ? 'Mută stocul pentru ' + stockItem.itemName
              : 'Mutarea nu este disponibilă pentru stoc 0 sau negativ'"
          [disabled]="stockItem.quantity <= 0"
          (click)="move.emit(stockItem)">
    <nz-icon nzType="icons:arrow-right-arrow-left"></nz-icon>
  </button>
  <button nz-button
          nzType="text"
          type="button"
          nz-tooltip
          skeStopClick
          nzTooltipTitle="Adaugă în comandă"
          [attr.aria-label]="'Adaugă ' + stockItem.itemName + ' într-o comandă'"
          (click)="addToOrder.emit(stockItem)">
    <nz-icon nzType="icons:cart-plus"></nz-icon>
  </button>
  @if (stockItem.expiredQuantity > 0) {
    <button nz-button
            nzType="text"
            type="button"
            nz-dropdown
            nzTrigger="click"
            nzPlacement="bottomRight"
            skeStopClick
            nz-tooltip
            nzTooltipTitle="Acțiuni pentru articole expirate"
            [nzDropdownMenu]="expiredMenu"
            [attr.aria-label]="'Acțiuni pentru articolele expirate ale ' + stockItem.itemName">
      <nz-icon nzType="icons:calendar-exclamation"></nz-icon>
    </button>
    <nz-dropdown-menu #expiredMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item
            (click)="extendExpiry.emit(stockItem)">
          <nz-icon nzType="icons:calendar-plus" class="me-2" />
          Prelungește expirarea
        </li>
        <li nz-menu-item
            nzDanger
            nz-popconfirm
            nzPopconfirmPlacement="topRight"
            [nzPopconfirmTitle]="'Elimini cele ' + stockItem.expiredQuantity + ' articole expirate pentru ' + stockItem.itemName + '?'"
            (nzOnConfirm)="removeExpired.emit(stockItem)">
          <nz-icon nzType="icons:trash" class="me-2" />
          Elimină articolele expirate
        </li>
      </ul>
    </nz-dropdown-menu>
  }
  <button nz-button
          skeStopClick
          nzType="text"
          type="button"
          nz-tooltip
          [nzTooltipTitle]="(stockItem.hideWhenZeroStock
            ? 'Nu mai ascunde la stoc 0 pentru '
            : 'Ascunde când stocul ajunge la 0 pentru ') + stockItem.itemName + ' la ' + stockItem.locationName"
          [attr.aria-label]="(stockItem.hideWhenZeroStock
            ? 'Nu mai ascunde la stoc 0 pentru '
            : 'Ascunde când stocul ajunge la 0 pentru ') + stockItem.itemName + ' la ' + stockItem.locationName"
          (click)="visibilityChange.emit(stockItem)">
    <nz-icon [nzType]="stockItem.hideWhenZeroStock ? 'icons:eye' : 'icons:eye-slash'"></nz-icon>
  </button>
</td>
