<nz-table #table
          nzTableLayout="auto"
          [nzData]="items()"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzLoading]="loading()"
          nzSize="small"
          class="absolute inset-0 block overflow-auto">
  <thead>
  <tr>
    <th nzColumnKey="itemName" [nzSortFn]="sortByItemName">
      {{ columns.itemName.label }}
    </th>
    <th nzColumnKey="locationName" [nzSortFn]="sortByLocationName">
      {{ columns.locationName.label }}
    </th>
    <th nzColumnKey="unit">
      {{ columns.unit.label }}
    </th>
    <th nzColumnKey="isPerishable">
      {{ columns.isPerishable.label }}
    </th>
    <th nzColumnKey="quantity" [nzSortFn]="sortByQuantity">
      {{ columns.quantity.label }}
    </th>
    <th nzColumnKey="isLowStock">
      {{ columns.isLowStock.label }}
    </th>
    <th nzWidth="100px">
      Actiuni
    </th>
  </tr>
  </thead>
  <tbody>
  @for (item of table.data; track trackByRow($index, item)) {
    <tr>
      <td>
        {{ item.itemName }}
      </td>
      <td>
        {{ item.locationName }}
      </td>
      <td>
        {{ item.unit }}
      </td>
      <td>
        @if (item.isPerishable) {
          <nz-tag nzColor="orange">Da</nz-tag>
        } @else {
          <nz-tag>Nu</nz-tag>
        }
      </td>
      <td>
        {{ item.quantity }}
      </td>
      <td>
        @if (item.isLowStock) {
          <nz-tag nzColor="red">Stoc redus</nz-tag>
        } @else {
          <nz-tag nzColor="green">OK</nz-tag>
        }
      </td>
      <td>
        <button nz-button
                nzType="link"
                type="button"
                [attr.aria-label]="'Ajusteaza stoc'"
                (click)="onAdjust.emit(item)">
          <nz-icon nzType="icons:pencil"></nz-icon>
          Ajusteaza
        </button>
      </td>
    </tr>
  }
  </tbody>
</nz-table>
