<nz-layout class="min-w-0">
  <ng-container *skeLayoutBreakpoint="'lg'; else smallNavigation">
    <nz-sider class="pt-8"
              nzWidth="200px">
      <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: false }"></ng-container>
    </nz-sider>
  </ng-container>

  <ng-template #smallNavigation>
      <nz-drawer [nzVisible]="drawer.open()"
                 nzPlacement="left"
                 nzWidth="260px"
                 nzTitle="Ske"
                 [nzClosable]="false"
                 [nzExtra]="drawerClose"
                 [nzFooter]="drawerFooter"
                 [nzMaskClosable]="true"
                 [nzCloseOnNavigation]="true"
                 [nzBodyStyle]="{ padding: 0, overflow: 'hidden' }"
                 (nzOnClose)="drawer.close()"
                 nzWrapClassName="menuDrawer">
        <nav *nzDrawerContent
             class="h-full overflow-y-auto overflow-x-hidden"
             id="ske-navigation-drawer"
             aria-label="Meniu principal">
          <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: false }"></ng-container>
        </nav>
      </nz-drawer>
  </ng-template>

  <nz-content class="flex! min-w-0">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>

<ng-template #drawerClose>
  <button nz-button
          nzType="text"
          type="button"
          aria-label="Închide meniul"
          (click)="drawer.close()">
    <nz-icon nzType="icons:xmark"></nz-icon>
  </button>
</ng-template>

<ng-template #drawerFooter>
  <div class="flex items-center justify-between">
    <span>Temă</span>
    <ske-theme-switcher/>
  </div>
</ng-template>

<ng-template #menuTemplate
             let-collapsed>
  <ul nz-menu
      class="border-e-0!"
      [nzInlineCollapsed]="collapsed"
      nzMode="inline">
    <li nz-menu-item
        nzMatchRouter
        (click)="drawer.close()"
        [routerLink]="['/school-classes']">
      <nz-icon nzType="icons:school"
               class="text-2xl!"></nz-icon>
      <span>Clase</span>
    </li>
    <li nz-menu-item
        nzMatchRouter
        (click)="drawer.close()"
        [routerLink]="['/categories']">
      <nz-icon nzType="icons:list"
               class="text-2xl!"></nz-icon>
      <span>Categorii</span>
    </li>
    <li nz-menu-item
        nzMatchRouter
        (click)="drawer.close()"
        [routerLink]="['/items']">
      <nz-icon nzType="icons:box-open-full"
               class="text-2xl!"></nz-icon>
      <span>Articole</span>
    </li>
  </ul>
</ng-template>
