<form nz-form
      nzNoColon
      nzLayout="vertical">
  <nz-row [nzGutter]="[16, 4]">
    <nz-col [nzXl]="12">
      <nz-form-item nzLayout="vertical"
                    *skeletonInputLoader="loading()">
        <nz-form-label nzRequired
                       nzSpan="24">Nume
        </nz-form-label>
        <nz-form-control [nzErrorTip]="nameErrorTemplate"
                         nzSpan="24">
          <nz-input-wrapper nzShowCount
                            [nzCount]="{ max: orderListForm.name()?.maxLength() ?? 200 }">
            <input type="text"
                   [formField]="orderListForm.name"
                   placeholder="Numele comenzii"
                   nz-input>
          </nz-input-wrapper>
        </nz-form-control>
        <ng-template #nameErrorTemplate>
          @if (orderListForm.name().errors(); as errors) {
            @for (error of errors; track error.kind) {
              <div class="ant-form-item-explain-error">
                {{ error.message }}
              </div>
            }
          }
        </ng-template>
      </nz-form-item>
    </nz-col>
    <nz-col [nzXl]="12">
      <nz-form-item *skeletonInputLoader="loading()">
        <nz-form-label nzSpan="24">Nota</nz-form-label>
        <nz-form-control [nzErrorTip]="noteErrorTemplate">
          <nz-textarea-count [nzMaxCharacterCount]="orderListForm.note()?.maxLength() ?? 1000">
            <textarea nz-input
                      [formField]="orderListForm.note"
                      placeholder="Notite despre comanda"
                      rows="4"></textarea>
          </nz-textarea-count>
        </nz-form-control>
        <ng-template #noteErrorTemplate>
          @if (orderListForm.note().errors(); as errors) {
            @for (error of errors; track error.kind) {
              <div class="ant-form-item-explain-error">
                {{ error.message }}
              </div>
            }
          }
        </ng-template>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-form-item *skeletonInputLoader="loading()">
        <nz-form-control>
          <ske-item-autocomplete [formField]="orderListForm.lineItem"
                                 placeholder="Cauta si adauga un articol" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <ske-order-list-low-stock-items (addProducts)="addLowStockItems($event)"
                                  [classId]="classId()"
                                  [disabled]="loading() || !editable()"
                                  [orderListLines]="orderListForm.lines().value()" />
  <nz-divider />
  @if (orderListForm.lines().touched()) {
    @for (error of orderListForm.lines().errors(); track $index) {
      <p nz-typography
         nzType="danger">
        <nz-icon nzType="icons:circle-exclamation"></nz-icon>
        {{ error.message }}
      </p>
    }
  }
  <ske-order-list-lines-container [lines]="orderListForm.lines"
                                  [disabled]="loading() || !editable()"
                                  (remove)="removeLine($event)" />
</form>
